<div class="m-1 mb-3 mt-3">
    <button class="btn btn-block btn-success" id="bingo" (click)="comprobarBingo()">¡BINGO!</button>
</div>

<div class="text-center bg-primary text-white rounded p-2 pt-4 informacion m-1 mb-3" >
    <H5>INFO</H5>
    <label class="" for="premio-bingo" id="premio-bingo">{{informacion}}</label>
</div>


<div class="text-center bg-primary text-white rounded p-2 pt-4 informacion m-1 mb-3" >
    <H5>PREMIO CALCULADO</H5>
    <label class="" for="premio-bingo" id="premio-bingo">{{premio}}€</label>
</div>
